[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
tqdm = "*"
transformers = "*"
tensorboard = "*"
matplotlib = "*"
seaborn = "*"
sentencepiece = "*"
tokenizers = "*"
torchvision = "*"
torchaudio = "*"
setuptools = "==59.5"

[dev-packages]
autopep8 = "*"
flake8 = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.8"
